# ignore everything
*

# don't ignore
!.*
!.*/
!.config/**/*
!.vim/**/*
!.tmux/**/*

# ignored config files
.config/configstore/*
.config/github-copilot/hosts.json
.config/nvim/pack/**/*
.config/yarn/*
.config/sanity/*
.config/gh-copilot/*

# ingored file endings
*.swo
*.swp

# ignored directories
.aspell/
.cache/
.cargo/
.dlv/.*
.gnugp/
.gnupg/
.gnupg_pre_2.1/
.node-gyp/
.npm/
.pulumi/
.ssh/
.wireshark/

# ignored files
.CFUserTextEncoding
.DS_Store
.bash_history
.dockercfg
.lesshst
.node_repl_history
.npmrc
.rnd
.sh_history
.viminfo
.config/gh
.atom
.docker
.terraformrc
.psql_history
.python_history
.zsh_history
.yarnrc
.wget-hsts
.config/github-copilot/versions.json
.config/sops/age/keys.txt
