[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule ".tmux/plugins/tmux-resurrect"]
	path = .tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule ".tmux/plugins/tmux-yank"]
	path = .tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
[submodule ".config/fish/addons/fish-kubectl-completions"]
	path = .config/fish/addons/fish-kubectl-completions
	url = https://github.com/evanlucas/fish-kubectl-completions
[submodule ".config/fish/addons/fish-kube-prompt"]
	path = .config/fish/addons/fish-kube-prompt
	url = https://github.com/aluxian/fish-kube-prompt
