[user]
	name = Hans Kristian Flaatten
	email = hans@starefossen.com
[core]
	trustctime = true
	autocrlf = true
	editor = vim
[color]
	ui = true
[credential]
	helper = cache --timeout=3600
[push]
	default = simple
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
