[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
  ignore = dirty
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
  ignore = dirty
[submodule ".vim/bundle/vim-bufferline"]
	path = .vim/bundle/vim-bufferline
	url = git@github.com:bling/vim-bufferline.git
  ignore = dirty
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
  ignore = dirty
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
  ignore = dirty
[submodule ".vim/bundle/vim-json"]
	path = .vim/bundle/vim-json
	url = git@github.com:rogerz/vim-json.git
  ignore = dirty
[submodule ".vim/bundle/vim-sensible"]
	path = .vim/bundle/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
  ignore = dirty
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
  ignore = dirty
[submodule ".vim/bundle/vim-golang"]
	path = .vim/bundle/vim-golang
	url = git@github.com:jnwhiteh/vim-golang.git
  ignore = dirty
[submodule "/Users/hanskristian/.vim/bundle/vim-fugitive"]
	path = /Users/hanskristian/.vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
  ignore = dirty

[submodule ".vim/bundle/vim-literate-coffeescript"]
	path = .vim/bundle/vim-literate-coffeescript
	url = git@github.com:mintplant/vim-literate-coffeescript.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = git@github.com:tpope/vim-markdown.git
[submodule ".vim/bundle/vim-mustache-handlebars"]
	path = .vim/bundle/vim-mustache-handlebars
	url = git@github.com:mustache/vim-mustache-handlebars.git
[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = git@github.com:groenewege/vim-less.git
