[user]
  name = Hans Kristian Flaatten
  email = hans.kristian.flaatten@turistforeningen.no
[core]
  trustctime = true
  autocrlf = false #true
  editor = vim
[color]
  ui = true
[credential]
  helper = cache --timeout=3600
[push]
  default = simple
[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  s = status
  c = commit -S
  co = checkout
  br = branch
  pum = push origin master
  pom = pull origin master
