[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule ".vim/bundle/vim-bufferline"]
	path = .vim/bundle/vim-bufferline
	url = git@github.com:bling/vim-bufferline.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-sensible"]
	path = .vim/bundle/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
  ignore = dirty
[submodule ".vim/bundle/vim-literate-coffeescript"]
	path = .vim/bundle/vim-literate-coffeescript
	url = git@github.com:Starefossen/vim-literate-coffeescript.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = git@github.com:tpope/vim-markdown.git
[submodule ".vim/bundle/vim-mustache-handlebars"]
	path = .vim/bundle/vim-mustache-handlebars
	url = git@github.com:mustache/vim-mustache-handlebars.git
[submodule ".vim/bundle/vim-dockerfile"]
	path = .vim/bundle/vim-dockerfile
	url = git@github.com:ekalinin/Dockerfile.vim.git
[submodule ".vim/bundle/yajs.vim"]
	path = .vim/bundle/yajs.vim
	url = git@github.com:othree/yajs.vim.git
[submodule ".vim/bundle/quick-scope"]
	path = .vim/bundle/quick-scope
	url = git@github.com:unblevable/quick-scope.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-startify"]
	path = .vim/bundle/vim-startify
	url = git@github.com:mhinz/vim-startify.git
[submodule ".vim/bundle/pathogen"]
	path = .vim/bundle/pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule ".vim/bundle/vim-tmux-navigator"]
	path = .vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule ".vim/bundle/seoul256.vim"]
	path = .vim/bundle/seoul256.vim
	url = https://github.com/junegunn/seoul256.vim.git
[submodule ".vim/bundle/goyo.vim"]
	path = .vim/bundle/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule ".vim/bundle/limelight.vim"]
	path = .vim/bundle/limelight.vim
	url = https://github.com/junegunn/limelight.vim.git
[submodule ".vim/bundle/vim-json"]
	path = .vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/fzf"]
	path = .vim/bundle/fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".vim/bundle/vim-terraform"]
	path = .vim/bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule ".tmux/plugins/tmux-resurrect"]
	path = .tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule ".vim/bundle/vim-obsession"]
	path = .vim/bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
