# ignore everything
*

# don't ignore
!.*
!.*/
!.config/
!.vim/

# ingored file endings
*.swo
*.swp

# ignored directories
.cache/
.gnugp/
.node-gyp/
.npm/
.ssh/
.wireshark/

# ignored files
.CFUserTextEncoding
.DS_Store
.bash_history
.dockercfg
.lesshst
.rnd
.sh_history
.viminfo
