"*":
  core:
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    themes: [
      "unity-ui"
      "base16-tomorrow-dark-theme"
    ]
  "exception-reporting":
    userId: "1e842522-e7cc-120b-11f6-5acb9c9d5820"
  "release-notes":
    viewedVersion: "0.91.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "e7d719f5a9dca1ba7c4dd1a88236b4a184587eb8"
  editor:
    invisibles: {}
  "vim-mode": {}
  linter: {}
  motepair: {}
